<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Dss_Banner::dss_banner" title="Dss Banner" module="Dss_Banner" sortOrder="2"
            action="banner/index/index" parent="Dss_Core::dss_sub_menu" resource="Magento_Backend::content"/>
    </menu>
</config>
